{% extends 'base.html' %}
{% load custom_form_tags %}

{% block title %}Nouveau covoiturage{% endblock title %}

{% block content %}
<form action="" method="post" class="smallForm centered max400">
	{% if request.GET.role == 'DR' %}
		<h1>Proposer un covoiturage</h1>
	{% else %}
		<h1>Ajouter une recherche de covoiturage</h1>
	{% endif %}
	{% csrf_token %}
	<div class="error clearfix clear bottom-20">{{ form.non_field_errors  }}</div>
    {% for f in form.contact_group %}
	    {% if f.errors %}<span class"small red">{{ f.errors }}</span>{% endif %}
	    {{ f.label_tag }}
	    {{ f }}
    {% endfor %}
    <hr>
    {% for f in form.travel_group %}
	    {% if f.errors %}<span class"small red">{{ f.errors }}</span>{% endif %}
	    {{ f.label_tag }}
	    <span {% if f|is_radio %}class="radio"{% endif %}>{{ f }}</span>
    {% endfor %}
    <hr>
    <input type="submit" value="Enregistrer" class="action" />
    <p class="center top-20"><a href="{% url 'coming' %}#how-to-come" class="center">Retour</a></p>
</form>
{% endblock content %}
