@charset "UTF-8";

/* general */
body {
	margin: 0;
	background: white;
}

#wrapper {
	margin: 0 auto;
	max-width: 1000px;
}

#content {
	padding: 40px 0 60px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear {
	clear: both;
}
.third {
	width: 29%;
	padding: 0 2%;
	float: left;
	border-right: solid 1px #959595;
}
.third:last-child {
	border: none;
	padding-right: 0;
}
.third:first-child {
	padding-left:0;
}

/* Header */
nav {
	margin: 10px auto;
	text-align: right;
}

nav a:link, nav a:visited {
	display: inline-block;
	margin: 0;
	padding: 10px 1%;
	background: lightgray;
	width: 10%;
	text-align: center;
}

nav a:hover {
	background: gray;
}

/* Home */
.home-banner {
	max-width: 400px;
	margin: 0 auto 20px;
}
/* Housing */
.hotels {
	width: 100%;
	vertical-align: top;
	text-align: left;
}
.hotels th {
	border-top: solid 1px #959595;
	border-bottom: solid 1px #959595;
}
.hotels td, 
.hotels th {
	padding: 5px;
}
.hotels td:first-child, 
.hotels th:first-child {
	padding-left: 0;
}
.hotels td:last-child,
.hotels th:last-child {
	padding-right: 0;
}
#hotelMap {
	width: 80%;
	height: 300px;
	margin: 40px 10%;
	border: solid 1px #959595;
}

/* Coming */
#locationsMap {
	float: right;
	width: 50%;
	height: 400px;
	border: solid 1px #959595;
	margin-top: 20px;
}
.locationIcon {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
    margin-top: 0px;
}

/* Forms */
.smallForm {
}
.smallForm label {
	display: block;
	padding-right: 10px;
}
.smallForm input[type='text'],
.smallForm input[type='password'], 
.smallForm input[type='email'],
.smallForm input[type='select'],
.smallForm select {
	display: block;
	padding: 10px 2%;
	margin-bottom: 20px;
	border-radius: 3px;
	border : solid 1px #959595;
	color: black;
}
.smallForm input[type='text'],
.smallForm input[type='password'], 
.smallForm input[type='email'] {
	width: 96%;
}
.smallForm input[type='submit'].action {
	padding: 10px 2%;
	display: block;
	width: 100%;
}
.smallForm .radio ul {
	list-style-type: none;
	margin-top: 0;
}
.smallForm .radio li {
	display: inline-block;
	padding-right: 20px;
}
.error {
	color: red;
}
.smallForm .errorlist {
	color: red;
	margin: 0;
	float: right;
	list-style-type: none;
}

/* boostrap edits */
.tab-pane {
	border: solid 1px #111;
	border-top: none;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #111;
    border-radius: 10px 10px 0 0;
    padding: 30px 15px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	border-color: #111;
	border-bottom-color: #fff;
}

/* Planning */
.planning-img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 120px;
	height: auto;
}
.planning-img.landscape {
	width: auto;
	height: 153px;
}
.planning-img.right {
	float:right;
	margin: 0 0 10px 20px;
}

/* login page */
.login-img {
	float: right;
	width: 400px;
}

@media (max-width: 1000px) {
	#wrapper {
		margin: 0 10px;
	}
}