@charset "UTF-8";


/* General */
@font-face {
	font-family: 'proxima-nova';
}
body {
	font-family: "proxima-nova", "Arial", sans-serif;
	color: #656565;
	font-size:16px;
	line-height:24px;
}
/* Text and titles */
p {
	font-size:16px;
	line-height:22px;
}
h1, .h1-like {
	font-size: 32px;
	line-height:40px;
	font-weight:bold;
	font-family:"futura-pt", "proxima-nova", "Arial", sans-serif;
	color:#231f20;
}
h2, .h2-like {
	font-size: 24px;
	line-height:30px;
	font-weight:bold;
	font-family:"futura-pt", "proxima-nova", "Arial", sans-serif;
	color:#231f20;
}

h3, .h3-link:link {
	font-size: 18px;
	font-family:"proxima-nova", "Arial", sans-serif;
	color:#231f20;
	font-weight:bold;
}
h4 {
	font-size: 16px;
	color: #231f20;
}
ul {
	padding:0;
}
img, a img {
	border: 0;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}

/* Links */
a:link, a:visited, a.blue:link, a.blue:visited {
	color: #02789C;
	text-decoration: none;
}
a:hover, a.blue:hover {
	text-decoration: none;
	color: #02789C;
}
p a:link, p a:visited {
	color: #02789C;
	text-decoration: none;
}

/*Colors */
.yellow {
	color: #ffb400;
}
.red {
	color: #ba2c3a;
}
.blue {
	color: #02789C;
}
/* General */
.borders {
	border-radius: 10px;
	border: solid 1px #111;
	padding: 20px;
}
hr {border-color: #111;}
.border-bottom {
	border-bottom: solid 1px #111;
}
.small {
	font-size: 90%;
}
table {
	border-collapse: collapse;
}
.top-20 {
	margin-top: 20px;
}
.bottom-20 {
	margin-bottom: 20px;
}
.top-40 {
	margin-top: 40px;
}
.right-20 {
	margin-right: 20px;
}
.centered {
	margin: 20px auto;
}
.max400 {
    max-width: 400px;
}

/* Button */
.action, .action:link, .action:visited, input[type='submit'].action {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #ffb400;
	text-shadow: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	color: #111;
	cursor: pointer;
	border: 0;
}
.action.snd,
.action:visited.snd, input[type='submit'].action.snd {
	background-color: #02789C;
}
