{% extends 'base.html' %}

{% block content %}
    <img src="{{ STATIC_URL }}img/ceremony-banner.png">
    <h2>Le célébrant</h2>
	<p>Le père Serge Gougbémon a accepté de nous marier. Il est le chef de choeur de Pic'Pulse, 
		la chorale Gospel dans laquelle nous chantons et l'aumônier de l'association.</p>
	<p>Serge c'est aussi un père de la congrégation des sacrés coeurs de Jésus et de Marie, dit "de Picpus" et un philosphe.
		Il est professeur de philosophie à la Catho de Paris. Il est Béninois.</p>
	
	<h2>Notre Dame de Ménestreau-en-Villette</h2>
	<p>2-3 mots sur l'église, le choix etc...</p>
	
	<h2>Chantons</h2>
	<p>Nous adorons chanter. Cette année nous chantons dans 2 chorales&nbsp;: </p>
	<ul>
		<li>Pic'Pulse, un choeur Gospel de 150 choristes dont Cyril est l'un des responsables.</li>
		<li>Le Choeur Lucien Deiss, où Géraldine a fait venir Cyril, qui enregistre un CD en février.</li>
	</ul> 
	<p>Autant dire que pour nous, la prière passe beaucoup par le chant.</p>
	<p>Il y aura une chorale, et vous y êtes tous conviés. Et comme pour bien chanter, 
		il faut être préparé, voici les chants, voix par voix !</p>
		
	<table class="hotels songs">
		<tr>
			<td class="yellow bold">1</td>
			<td>Chant d'entrée</td>
			<td class="bold">I'm so Glad</td>
			<td><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br/>Partition</a></td>
			<td><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br/>4 voix</a></td>
			<td><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br/>Soprano</a></td>
			<td><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br/>Alto</a></td>
			<td><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br/>Ténor</a></td>
			<td><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br/>Basse</a></td>
		</tr>
	</table>
{% endblock content %}
