{% extends 'base.html' %}

{% block title %}Où loger ?{% endblock title %}

{% block wrapper %}
<section class="">
	<img src="{{ STATIC_URL }}img/minecraft-night.jpg"  class="page-banner" />
</section>
<section class="wrapper top-20">
    <h1 class="center bottom-20">Où loger ?</h1>
    
    {% for hotel in hotels %}
    <div class="card" 
    		id="hotel{{ forloop.counter }}" 
    		data-lat={{ hotel.latitude}} data-lng={{ hotel.longitude }}>
    	<div class="cdc cd-2 left">
			<span class="bold">{{ forloop.counter }} - {{ hotel.name }}</span>
			<br/>{{ hotel.address|linebreaksbr }}
		</div>
		<div class="cdc cd-6 bold hPrice"><br/>{{ hotel.price_range }}</div>
		<div class="cdc cd-3 right">
    		{% if hotel.phone %}{{ hotel.phone }}<br/>{% endif %}
    		{% if hotel.email %}<a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a><br/>{% endif %}
			<a href="{{ hotel.website }}" class="action">Site web</a>
		</div>
		{% if hotel.description %}<div class="cdc cd-1 left small">{{ hotel.description|linebreaksbr }}</div>{% endif %}
	</div>
    {% endfor %} 
    
    <div class="card">
       	<div class="cdc cd-2 left">
			<span class="bold">Airbnb</span>
		</div>
		<div class="cdc cd-6 bold right">40 à 100 €</div>
		<div class="cdc cd-3 right">
			<a class="action" href="https://www.airbnb.fr/s/La-Fert%C3%A9~Saint~Aubin?checkin=27%2F08%2F2016&checkout=28%2F08%2F2016&guests=&zoom=11&search_by_map=true&sw_lat=47.61293568120306&sw_lng=1.906714587506599&ne_lat=47.862701482478926&ne_lng=2.230811267194099&ss_id=23vztdjs">Logements sur Airbnb</a>
		</div>
		<div class="cdc cd-1 left small">Logez chez l'habitant, avec tout le confort de l'hôtel, 
			le charme en plus. 200 logements à moins de 30 min de La Ferté Saint Aubin, 
			pour tous les budgets.</div>
	</div>
    <div class="card">
       	<div class="cdc cd-2 left">
			<span class="bold">Plus d'hôtels sur Booking.com</span>
		</div>
		<div class="cdc cd-6 bold right"></div>
		<div class="cdc cd-3 right">
			<a class="action" href="http://www.booking.com/searchresults.fr.html?label=gen173nr-17CAEoggJCAlhYSDNiBW5vcmVmaE2IAQGYAQ24AQTIAQTYAQHoAQH4AQs&sid=a149050b7c8eaf6d2215ef481258f3d8&dcid=1&checkin_monthday=27&checkin_year_month=2016-8&checkout_monthday=28&checkout_year_month=2016-8&class_interval=1&csflt=%7B%7D&dest_id=-1435904&dest_type=city&gtt=f8e939381831f2071b045fc435d44207&gtt=f8e939381831f2071b045fc435d44207&gtt=f8e939381831f2071b045fc435d44207&label_click=undef&no_rooms=1&review_score_group=empty&room1=A%2CA&sb_price_type=total&sb_travel_purpose=leisure&score_min=0&si=ai%2Cco%2Cci%2Cre%2Cdi&ss=La%20Fert%C3%A9-Saint-Aubin%2C%20R%C3%A9gion%20Centre%2C%20France&ss_raw=La%20Fert%C3%A9%20s&ssb=empty&order=popularity&track_sr_ajax_click=1">booking.com</a>
		</div>
	</div>
    
    <div id="hotelMap"></div>
</section>
{% endblock wrapper %}

{% block additionnal-scripts %}
<script type="text/javascript">
	 $(document).ready(function ($) {
	 	initHotelMap();
	 });
</script>
{% endblock additionnal-scripts %}

