{% extends 'base.html' %}

{% block title %}Programme{% endblock title %}

{% block wrapper %}
<section id="slide-1" class="homeSlide" style="height: 600px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -150px;"
        data-anchor-target="#slide-1"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-1 h1"
            >
				<h1 class="white-shadow">Vivez ce week-end avec nous !
					<br/><br/>Samedi 27 Août 2016</h1>
            </div>
        </div>
    </div>
</section>

<section id="slide-2">
    <div class="bcg" data-anchor-target="#slide-2">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-50-top="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-2 h2"
            >
				<h2>Répétition des chants</h2>
				<p class="red">Rdv à l'église Notre Dame de Ménestreau-en-Villette à 14h.</p>
				<p>Nous chantons tout au long de l'année et comptons sur vous 
					pour nous aider à mettre de l'ambiance lors de cette cérémonie. 
					<br/>Après avoir chanté tout l'été grâce aux superbes chants à 4 voix disponibles sur le site, 
					venez répéter une dernière fois avant la messe. </p>
				<p><a class="action center" href="{% url 'ceremony' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Découvrir les chants</a></p>
            </div>
        </div>
    </div>
</section>

<section id="slide-3" class="homeSlide" style="height: 500px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -150px;"
        data-anchor-target="#slide-3"
    ></div>
</section>

<section id="slide-4">
    <div class="bcg" data-anchor-target="#slide-4">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-50-top="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-4 h2"
            >
				<h2>Messe de mariage</h2>
				<p class="red">En l'église Notre Dame de Ménestreau-en-Villette à 15h 
					<br/>(ça c'est l'heure où Géraldine rentre dans l'église, les retrouvailles c'est avant).</p>
				<p>La cérémonie sera célébrée par le père Serge Gougbèmon, 
					père de la congrégation des sacrés coeurs de Jésus et de Marie, dit "de Picpus" 
					et également chef de choeur de Pic'pulse, chorale gospel dans laquelle 
					nous chantons depuis maintenant 3 ans.</p>
				<p><a class="action center" href="{% url 'ceremony' %}">En savoir plus sur l'église</a></p>
            </div>
        </div>
    </div>
</section>

<section id="slide-5" class="homeSlide" style="height: 600px;">
    <div class="bcg"
        data-center="background-position: 50% 50px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-5"
    ></div>
</section>

<section id="slide-6">
    <div class="bcg" data-anchor-target="#slide-6">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-50-top="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-6 h2"
            >
				<h2>Cocktail</h2>
				<p class="red">Rdv au château de la Ferté Saint-Aubin à la suite de la messe. <br/>Le cocktail débute à 18h.</p>
				<p>Venir en Sologne et ne pas profiter des belles pierres, c'est comme venir à Paris et rater la tour Eiffel.</p>
				<p>C'est pourquoi, pour fêter avec vous cet événement, nous avons trouvé un joli petit château, 
					qui plus est, est le château des jeux. <br/>On vous laisse la surprise de sa découverte.</p>
				<p>Venez avec le faire-part, il vous permettra de visiter le château et son parc.</p>
           </div>
        </div>
    </div>
</section>

<section id="slide-7" class="homeSlide" style="height: 600px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -150px;"
        data-anchor-target="#slide-7"
    ></div>
</section>

<section id="slide-8">
    <div class="bcg" data-anchor-target="#slide-8">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-50-top="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-8 h2"
            >
				<h2>Dîner et Soirée</h2>
				<p class="red">Toujours au château de la Ferté Saint-Aubin dès... que le cocktail sera fini.</p>
				<p>Préparez-vous à danser !</p>
          </div>
        </div>
    </div>
</section>

<section id="slide-9" class="homeSlide" style="height: 700px;">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -150px;"
        data-anchor-target="#slide-9"
    ></div>
</section>

<section id="slide-10">
    <div class="bcg" data-anchor-target="#slide-10">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-50-top="opacity: 1"
                data--200-top="opacity: 0"
                data-anchor-target="#slide-10 h1"
            >
				<h1>Dimanche 28 Août 2016</h1>
				<p>Tout le monde dit que la journée de mariage passe trop vite, alors prenons un peu plus de temps pour discuter.</p>
				<h2>Brunch</h2>
				<p class="red">Rdv au Pavillon du Ramier, à partir de midi.</p>
				<p class="bottom-20">Claire et Benoît, les parents de Géraldine, nous invitent chez eux !</p>
				<p>Plein d'activités sportives seront disponibles, avec en particulier un magnifique étang.</p> 
				<p>Prévoyez un maillot de bain.</p>
          </div>
        </div>
    </div>
</section>

<section id="slide-11" class="homeSlide" style="height: 500px;">
    <div class="bcg"
        data-center="background-position: 50% -200px;"
        data-top-bottom="background-position: 50% -350px;"
        data-anchor-target="#slide-11"
    ></div>
</section>

<section id="slide-12">
    <div class="bcg" data-anchor-target="#slide-12">
        <div class="hsContainer">
            <div class="hsContent"
            	data--100-bottom="opacity: 0.3"
                data-center="opacity: 1"
                data-anchor-target="#slide-12 h2"
            >
				<h2>Découverte de la Sologne</h2>
				<p class="red">Avant, après, à la place.. à vous de voir, vous êtes liiiibres (Max) !</p>
				<p>Entre les châteaux de la Loire, les vignobles (Sancerre), la faïencerie de Gien, 
					ne ratez pas cette superbe région. <br/>Passez un peu plus de temps à visiter.</p>
				<p><a class="action center" href="{% url 'visit' %}">Que faut-il voir dans le coin ?</a></p>
          </div>
        </div>
    </div>
</section>

<section id="slide-13" class="homeSlide" style="height: 600px;">
    <div class="bcg" data-anchor-target="#slide-13"
    ></div>
</section>

{% endblock wrapper %}