{% extends 'base.html' %}

{% block title %}Programme{% endblock title %}

{% block content %}
<h1>Vivez ce week-end avec nous !</h1>
<p>Osez la couleur !</p>

<div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#saturday" aria-controls="saturday" role="tab" data-toggle="tab">Samedi 27 Août</a></li>
    <li role="presentation"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Dimanche 28 Août</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane clearfix fade in active" id="saturday">
		<h2>Répétition des chants</h2>
		<p class="red">Rdv à l'église Notre Dame de Ménestreau-en-Villette à 14h.</p>
		<p>Nous adorons chanter et avons prévus une foule de chants superbes (à 4 voix). 
			Et oui, quand on chante dans une chorale gospel, on ne rigole pas.</p>
		<p>Venez répéter une dernière fois avant la messe !</p>
		<p><a class="action center" href="{% url 'ceremony' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Découvrir les chants</a></p>

		<h2 class="clear top-40">Messe de mariage</h2>
		<img src="{{ STATIC_URL}}img/eglise.jpg" class="planning-img"/>
		<p class="red">A l'église Notre Dame de Ménestreau-en-Villette à 15h (ça c'est l'heure où Géraldine rentre dans l'église).</p>
		<p>Le père Serge Gougbémon a accepté de nous marier. Il est père de la congrégation des sacrés coeurs de Jésus et de Marie, dit "de Picpus" et chef de choeur de Pic'Pulse, notre chorale gospel.</p>
		<p><a class="action" href="{% url 'ceremony' %}">En savoir plus sur l'église</a></p>
		
		<h2 class="clear top-40">Vin d'honneur et cocktail</h2>
		<img src="{{ STATIC_URL}}img/chateau-teaser.jpg" class="planning-img landscape right"/>
		<p class="red">Rdv au château de la Ferté Saint-Aubin dès 17h pour une animation. Début du cocktail à 18h.</p>
		<p>Venir en Sologne et ne pas profiter des belles pierres, c'est comme venir à Paris et rater la tour Eiffel.
			Fort heureusement tous les châteaux de la Loire ne font pas la taille de Chambord.</p>
		<p>Nous vous invitons donc à venir fêter l'événement avec nous au château des jeux. Mais on vous laisse la surprise.
			<br/>Venez avec le fair-part, il vous permettra de visiter le château et son parc.</p>
		
		<h2 class="clear top-40">Dîner et Soirée</h2>
		<img src="{{ STATIC_URL}}img/soiree.jpg" class="planning-img"/>
		<p class="red">Toujours au château de la Ferté Saint-Aubin dès... que le cocktail sera fini.</p>
		<p>Le reste est une surprise !</p>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="sunday">
		<h2>Brunch</h2>
		<img src="{{ STATIC_URL}}img/ramier.jpg" class="planning-img landscape"/>
		<p class="red">Rdv au pavillon du Ramier à partir de midi.</p>
		<p>Tout le monde dit que la journée de mariage passe trop vite, alors prenons un peu plus de temps pour discuter.</p>
		<p>Plein d'activités sportives seront disponibles, avec en particulier un magnifique étang. 
			Prévoyez un maillot de bain.</p>
		
		<h2 class="clear top-40">Découverte de la Sologne</h2>
		<p class="red">Avant, après, à la place.. à vous de voir, vous êtes liiiibre (Max) !</p>
		<p>Entre les chateaux de la Loire, les vignobles (Sancerre), la faïencerie de Gien, 
			ne ratez pas cette superbe région. Passez un peu plus de temps à visiter.</p>
		<p><a class="action" href="#">Il faut voir quoi ?</a></p>
	</div>
</div>
</div>
{% endblock content %}