{% extends 'base.html' %}

{% block title %}Voyage{% endblock title %}

{% block wrapper %}
<section id="slide-1" class="voyageSlide" style="height: 700px;">
	<div class="bcg">
	    <div class="hsContainer">
	        <div class="hsContent">
		        <h1 class="white-shadow">Et le voyage de Noces ?</h1>
		    	<h2 class="white-shadow">
		    		Proposez nous votre destination de rêve ! 
		    		<br/>Exotique, neige ou soleil, ville ou nature... 
	    			<br/><br/><img src="{{ STATIC_URL }}img/Image-voyage-200px.png" class="voyage-img"/>
		    		<br/><br/>Que souhaitez vous nous faire découvrir ?
		    	</h2>
		    	<p>
		    		<a class="action" href="http://www.millemercismariage.com/cyril-geraldine" target="_blank">
			    		Contribuer au voyage
			    	</a>
		    	</p>
	        </div>
	    </div>
	</div>	
</section>
{% endblock wrapper %}
