{% extends 'base.html' %}

{% block wrapper %}
<section id="slide-1" class="voyageSlide" style="height: 700px;">
	<div class="bcg">
	    <div class="hsContainer">
	        <div class="hsContent">
		        <h1 class="white-shadow">Et le voyage de Noces ?</h1>
		    	<h2 class="white-shadow">
		    		Proposez nous votre destination de rêve ! 
		    		<br/>Exotique, neige ou soleil, ville ou nature... 
		    		<br/><br/>Que souhaitez vous nous faire découvrir ?
		    	</h2>
		    	<a class="action" href="http://www.millemercismariage.com/cyril-geraldine" target="_blank">
		    		Contribuer au voyage
		    	</a>
	        </div>
	    </div>
	</div>	
</section>
{% endblock wrapper %}
